{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="content-section">
  <form method="POST">
    {%csrf_token %}
    <fieldset class="form-group">
      <legend class="border_bottom md-4">Reset Password</legend>
      {{form|crispy}}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">
        Send Reset Link
      </button>
    </div>
  </form>
</div>
{% endblock content %}



############################


so I was in class at the beginning of my

junior year and we were getting ready to

start learning a new language and as my

teacher explained some of the ins and

outs in the basic structure of the

language I had this flashback moment to

two years earlier when I was in French

one except at this time I wasn't

learning French I was sitting in game

programming in web applications at the

Miami Valley career-tech Center and we

were getting ready to start learning C++
0:25
I realized that everything that we were
0:29
learning it was the same as when I had
0:31
taken French so I decided to look more
0:33
into it and it turns out that
0:36
programming languages function nearly
0:39
the same as the languages that we would
0:41
normally think of I can draw parallels
0:44
between almost every part of speech and
0:46
a part of programming in English you
0:50
would have nouns persons things in
0:53
programming you have literals 10 means
0:56
10 pronouns words there replace nouns in
1:01
program you have variables and verbs as
1:03
any action operators that you can use
1:07
above the parts of speech you also have
1:09
punctuation which is just as important
1:12
in programming as it is in English in
1:14
English if you drop a comma you can go
1:16
from a nice family dinner to cannibalism
1:20
which isn't fun in programming if you
1:24
drop a bracket or a comma or a semicolon
1:27
your program could completely fail or
1:29
worse it could do something that you
1:31
don't expect it to do so I saw this and
1:35
realized that the structure is nearly
1:37
perfect and I looked more into it and I
1:40
found a study done by some researchers
1:42
in Texas that took a selection of
1:44
students studying Java and ran an fMRI
1:47
scan while they interpreted a small
1:50
snippet of Java code and found that
1:52
there were five main activities main
1:55
areas of activity Broadman areas 621 40
1:59
44 and 47 of these five three of them
2:03
areas 21 44 and 47 are all known
2:07
language processing centers so not only
2:10
is the structure the same
2:12
but the brain interprets programming in
2:14
a very similar way but with all of this
2:18
in most schools in America and across
2:21
the world you can't take programming and
2:23
get a language credit for it before I
2:28
moved to the Miami Valley CTC at Wayne I
2:31
had six periods a day of those six
2:34
periods four of them were core classes
2:39
math science English and social studies
2:43
we also had to take a full year of gym a
2:47
half year of Health and a half year of a
2:49
fine art and three years of a foreign
2:53
language or two years of two different
2:54
foreign languages this leaves two or
2:57
three open periods two of them in your
3:01
senior year that's not enough time to

get enough experience in programming to

really delve into it and discover all of

its capabilities but if you were able to

take a programming Lit class as a

foreign language suddenly now you have

six spots to take a programming class

this opens up the opportunity for people

who might not have sought out

programming classes to take the class

when they look at their scheduling paper

I don't really want to take French or

Spanish but programming with Java looks

cool so they take it discover that they

have an aptitude for it that they like

doing it pursue that through high school
and college and then they come out of
college and that person makes some
important contribution to the world of
technology they never would have made
that contribution had they not been
given the opportunity to take the class
in the first place
the purpose of education is to prepare
students to be successful contributing
members of society and as technology
becomes more omnipresent students need
to be able to utilize that technology to
the best of its ability and if education
isn't doing that it's not doing its job
now I said almost every school because
in Florida New Mexico and Kentucky there
have been attempts to pass legislation
to support programming as a foreign
language
those three states failed but Texas and
Oklahoma didn't in Oklahoma students are
required to take two years of a foreign
language or two units of a computer
programming or other computer related
field and in Texas at the end of the
summer of 2017 they passed legislation
to account for programming and other
cyber security related fields in the
foreign language credit these states are
going to see a major increase in the
number of students coming out of their
educational systems into the world of
tech because they have the pathways for
it now
this idea goes even farther back than
just the last few years it goes back as
much as 40 years ago when my grandfather
at the man who really got me into
programming was in his junior year of
high school he was given the opportunity
really late in his junior year to take
his classes at Penn State University for
his senior year of high school so they
rushed through his application and they
discovered that he hadn't taken a
foreign language which was a requirement
for acceptance to Penn State he was able
to work with a professor at Penn State
and proved to the admissions department
that because of the wealth of
programming languages that he knew that
was enough proof to waive the
requirement under the special conditions
so if 40 years ago Penn State saw the
opportunity for programming to count or
at least be enough proof that he didn't
need the classes in 2018 I think it's
time that we look at the educational
system and start opening up the doors
for people to be successful in the world
of tomorrow thank you
you